/*
* Caitlin Donnelly
* Due Date
* Project Name and Description
*/

/* The universal selector */

* { 

}

/* Body attributes here */

body {

}
table, td, th { border: 1px solid darkgrey; }
table { border-collapse: collapse; }
thead { background-color: skyblue; }
tbody { background-color:palegoldenrod}
tfoot { background-color:springgreen; }